:root {
    --background: #647299;
    --btn-operation: #647299;
    --btn-eql: #d13f30;
    --font: #f6f6f6;
    --btn-font: black;
    --font-bg: #f6f6f6;
    --btn-screen: #252d44;
    --btn-active: #b2beb5;
    --display: #181f32;
 }
 
 *,
 *::before,
 *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
 }
 
 body {
    background-color: var(--background);
    color: var(--font);
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    margin-bottom: 100px;
 }
 
 /* button */
 button {
    border: none;
    color: var(--display);
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
 }
 
 /* cal-main */
 main {
    width: 30%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
 }
 
 .display {
    min-height: 1em;
    text-align: right;
    padding: 2em;
    background-color: var(--btn-font);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #00000040;
 }
 
 .calculator {
    background-color: var(--btn-screen);
    width: 100%;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 20px;
    min-height: 300px;
    padding: 20px;
 }
 
 .buttons {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
 }
 
 .btn-grid2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
 }
 
 .btn {
    padding: 15px;
    border-radius: 5px;
    background-color: var(--font-bg);
    font-weight: bolder;
 }
 
 .btn:hover {
    background-color: var(--btn-active);
    color: var(--font);
 }
 
 .eql {
    background-color: var(--btn-eql);
    color: var(--font);
 }
 
 .reset {
    background-color: var(--background);
    color: var(--font);
 }